.cabecera
{
   
    background-image: url("../imagenes/logofondo.png") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20% ;
    background-color:rgb(175, 244, 253);
}

h1
{
font-size:x-large;
color:rgb(117, 136, 245);
font-family:Verdana, Geneva, Tahoma, sans-serif;
text-transform: uppercase;
text-align:center;
}

.tabla
{
    width: 100%;
    border-color: royalblue;
    border-collapse: collapse;
    
}

p
{
    font-size: medium;
    color:rgb(0, 0, 0);
    font-family:Arial, Helvetica, sans-serif;
    text-align:justify;
}

h2
{
    font-size:x-large;
    color:rgb(65, 10, 167);
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    text-align:center;  
}

h3
{
    font-size:medium;
    color:rgb(10, 17, 78);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    text-align:center;
}

.fondo_titulo
{
    background-color: rgb(199, 168, 224);
}